.back-bg1{
    background: url(banking1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.back-bg2{
    background: url(banking2.jpg) no-repeat;
    background-position: ;
    background-size: cover;
}
